@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}
.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
zoom:1;
}
p{
FONT: 14px Verdana, Arial, Helvetica, sans-serif;
COLOR: #505050;
TEXT-DECORATION: none;
line-height: 200%;	
}
a{
	text-decoration:none;	
}
a:hover{
	text-decoration:underline;
}


/*top*/
.top{
	margin:0 auto;
	width:1005px;
}

.head{
	background:#F0F0F0;
}

.top ul{
	
	list-style:none;
}

.top ul li{
	display:inline;
	
}
.top-tip{
	float:right;
	margin-top:0px;
}
.top-tip li{
	margin-right:5px;
}
.top-tip a{
FONT: 13px Verdana, Arial, Helvetica, sans-serif;
COLOR: #505050;
}

.top h1,h3{
	display:inline;
}
.title{
	
	padding:30px;
}
.title h1{
	margin 0 atuo;
	color:#BA0A31;
}
.nav-bar{
	background:#BA0A31;
	height:30px;
	margin-left:0px;
	margin-bottom:0px;
	margin-top:2px;
	clear:both;
	padding-top:15px;
}

.nav-bar li{
	margin-right:48px;
}

.nav-bar li  a{
	font-weight: bold;
	font-size: 14px;
    color: #ffffff;
    font-famliy: 宋体;
	
}
 


.top-contact{
	
	margin-left:400px;
	color:#BA0A31;	
	
}
.top-add{
	background:#CCC;
	height:280px;
	width:100%;
}
/*main*/
.main{
	margin:0 auto;
	width:1005px;
	overflow:hidden;
}



.main-left{
	
	margin:0;
	width:735px;
	float:left;
}
.content{
	
	border: 1.5px solid #BA0A31;
}

.content-title{
	background:#BA0A31;
	height:25px;
	width:100%;
	margin:0px;
	clear:both;
	padding-top:12px;
	padding-bottom:8px;
}
.content-p{
	padding:5px;
}

.sub-title{
	font-weight: bold;
	font-size: 14px;
    color: #ffffff;
    margin-left:18px;
}
.more{
	float:right;
}
.more img{
	width:93px;
	height:26px; 
	border:0;
}



.main-right{
	margin:0;
	width:265px;
	float:right;
	border:1.5px solid #BA0A31;
	
}
.news li{
	
	
}
.news li a{
	white-space: nowrap; 
	text-overflow: ellipsis;
	line-height:20px;
	FONT: 14px Verdana, Arial, Helvetica, sans-serif;
	COLOR: #505050;
}
.main-contact .content-p a{
	FONT: 13px Verdana, Arial, Helvetica, sans-serif;
	COLOR: #505050;
}
.main-contact .content-p a:hover{
	
	COLOR: #BA0A31;
}
.album{
	margin:2px auto;
	width:1005px;
	border:1.5px solid #BA0A31;
	overflow:hidden;
	height:250px;
	
}

.photo-item{
	float:left;
	position:relative;
	height:180px;
	width:175px;
	border:2px solid #F3F3F3;
	margin-left:20px;
	overflow:hidden;
	padding: auto;
}
.album-pic img{
	max-width:175px;
	max-height:150px;
	margin:auto;
}
.album-pic b{
position: absolute;
background: #000;
filter: alpha(opacity=80);
-moz-opacity: 0.8;
opacity: 0.8;
line-height: 24px;
color: #fff;
width: 180px;
text-align: center;
overflow: hidden;
top:160px;
left:0px;

}


/*footer*/
.footer{
	margin:3px auto 0 auto;
	background-image: url(../images/footer.jpg);
	width:1005px;
	height:150px;
}

.footer-contact  a{
	FONT: 13px Verdana, Arial, Helvetica, sans-serif;
	COLOR: #505050;
}
.footer-contact a:hover{
	COLOR: #BA0A31;
}
