<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆泓彬醇基有限公司</title>
<link href="{$base_url}/css/base.css" rel="stylesheet" type="text/css">

<script src="{$base_url}/js/jquery-1.4a2.min.js" type="text/javascript"></script>
<script src="{$base_url}/js/jquery.KinSlideshow-1.2.1.min.js" type="text/javascript"></script>
</head>

<body>
<div class="top">

<div class="head">
<ul class="top-tip">
	<li><a>设为首页</a></li>
    <li>|</li>
    <li><a>加入收藏</a></li>
    <li>|</li>
    <li><a href="{$site_url}/welcome/contact">联系我们</a></li>
</ul>
<div class="title">
<h1>重庆泓彬醇基有限公司</h1><br/>
<h3>HongBinChunJi Technology Co.,Ltd</h3>
<h3 class="top-contact">客服热线：13368088888</h3>
</div>
</div>

<ul class="nav-bar">
	<li><a href="{$site_url}">网站首页</a></li>
    <li><a href="{$site_url}/welcome/intro">关于我们</a></li>
    <li><a href="#">产品中心</a></li>
    <li><a href="#">新闻中心</a></li>
    <li><a href="#">经典案例</a></li>
    <li><a href="{$site_url}/welcome/join">招商加盟</a></li>
    <li><a href="#">问题咨询</a></li>
    <li><a href="{$site_url}/welcome/contact">联系我们</a></li>
</ul>

<div class="top-add">
 	<div id="KinSlideshow" style="visibility:hidden;">
        <a href="http://www.baidu.com" target="_blank"><img src="{$base_url}/images/1.jpg" alt="这是标题一" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="{$base_url}/images/2.jpg" alt="这是标题二" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="{$base_url}/images/3.jpg" alt="这是标题三" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="{$base_url}/images/4.jpg" alt="这是标题四" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="{$base_url}/images/5.jpg" alt="这是标题五" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="{$base_url}/images/6.jpg" alt="这是标题六" width="1005" height="280" /></a>
    </div>
    <script>
	$(function(){
      $("#KinSlideshow").KinSlideshow();
     })
	</script>
</div>

</div>


</div>