{include file="head.html"}
<link href="{$base_url}/css/welcome.css" rel="stylesheet" type="text/css">


<div class="main">
<div class="main-left">
<div class="content">
<div class="content-title">
<a class="sub-title">公司简介</a>
<a class="more"  href="{$site_url}/welcome/intro"><img src="{$base_url}/images/more.gif"></a>
</div>
<div class="content-p">
<span style="LINE-HEIGHT: 200%; font-name: 宋体">       
{$company_des->content}                         
</span>
</div>


</div>

</div>

<div class="main-right">
<div class="news">
<div class="content-title">
<a class="sub-title">新闻中心</a>
<a class="more"  href="#"><img src="{$base_url}/images/more.gif"></a>
</div>
<div class="content-p">
<ul>
{foreach $news as $new}
<li><p><a href="#">{$new->title}</a></p></li>
{/foreach}
</ul>

</div>
</div>


<div class="main-contact">
<div class="content-title">
<a class="sub-title">联系我们</a>
<a class="more" href="{$site_url}/welcome/contact"><img src="{$base_url}/images/more.gif"></a>
</div>
<div class="content-p">
{{$contact_us->content}}
</div>
</div>




</div>


</div>
<div class="album">

<div class="content-title">
<a class="sub-title">产品展示</a>
<a class="more"><img src="{$base_url}/images/more.gif"></a>
</div>
<div class="content-p">
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="{$base_url}/images/tmp/1.jpg">
<b>产品A</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="{$base_url}/images/tmp/2.jpg">
<b>产品B</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="{$base_url}/images/tmp/3.jpg">
<b>产品C</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="{$base_url}/images/tmp/4.jpg">
<b>产品D</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="{$base_url}/images/tmp/5.jpg">
<b>产品E</b>
</a>
</div>
</div>


</div>



</div>

{include file="foot.html"}

