<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>重庆泓彬醇基有限公司</title>
<link href="./css/welcome.css" rel="stylesheet" type="text/css">
<script src="./js/jquery-1.4a2.min.js" type="text/javascript"></script>
<script src="./js/jquery.KinSlideshow-1.2.1.min.js" type="text/javascript"></script>
</head>

<body>
<div class="top">

<div class="head">
<ul class="top-tip">
	<li><a>设为首页{$mylove}</a></li>
    <li>|</li>
    <li><a>加入收藏</a></li>
    <li>|</li>
    <li><a>联系我们</a></li>
</ul>
<div class="title">
<h1>重庆泓彬醇基有限公司</h1><br/>
<h3>Chong Qin Technology Co.,Ltd</h3>
<h3 class="top-contact">客服热线：13368088888</h3>
</div>
</div>

<ul class="nav-bar">
	<li><a href="#">网站首页</a></li>
    <li><a href="#">关于我们</a></li>
    <li><a href="#">产品中心</a></li>
    <li><a href="#">新闻中心</a></li>
    <li><a href="#">经典案例</a></li>
    <li><a href="#">招商加盟</a></li>
    <li><a href="#">问题咨询</a></li>
    <li><a href="#">联系我们</a></li>
</ul>

<div class="top-add">
 	<div id="KinSlideshow" style="visibility:hidden;">
        <a href="http://www.baidu.com" target="_blank"><img src="images/1.jpg" alt="这是标题一" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="images/2.jpg" alt="这是标题二" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="images/3.jpg" alt="这是标题三" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="images/4.jpg" alt="这是标题四" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="images/5.jpg" alt="这是标题五" width="1005" height="280" /></a>
        <a href="http://www.baidu.com" target="_blank"><img src="images/6.jpg" alt="这是标题六" width="1005" height="280" /></a>
    </div>
    <script>
	$(function(){
      $("#KinSlideshow").KinSlideshow();
     })
	</script>
</div>

</div>


</div>

<div class="main">
<div class="main-left">



<div class="content">
<div class="content-title">
<a class="sub-title">公司简介</a>
<a class="more"  href="#"><img src="images/more.gif"></a>
</div>
<div class="content-p">
<span style="LINE-HEIGHT: 200%; font-name: 宋体">       
          <p><font face="Verdana">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></p>
<p><font face="Verdana">&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<strong>重庆泓彬醇基有限公司</strong>成立于2013年5月，<font face="Verdana">坐落于重庆市万盛区中心广场</font>，<font face="Verdana">主要从事节能环保事业，是集研发、生产和销售于一体的综合性企业。在能源日渐匮乏和大气污染日趋严重的今天，节能环保将是未来世界大主题，我们的目标：做中国的节能燃料领导者。</font></font></p>
<p><font face="Verdana"><font face="Verdana">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 公司主营产品：“甘氏节能”醇基节能燃料、节能灶具、节能控制器等。 公司研制开发的醇基节能燃料及灶具，适用于酒店、餐厅、家用、夜排档等。这种新型燃料燃烧充分，无烟无味，无残液残渣，火力猛，温度高，比液化气、柴油节省30%左右！燃料呈液态，在常压下灌装使用，消除了液化气罐的高压易爆炸的安全隐患，燃烧无烟无残留使得整个厨房环境更干净卫生。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 公司产品通过了国家标准，我们还建立了比国家标准更高、要求更严格的行业标准。另外，我们还取得了储存液态燃料的装置的专利证书、“甘氏节能”商标和危化品经营许可证。<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我司产品节能环保高效的优势得到众多客户的认可，现在成都地区我们已经拥有500多家餐馆、酒店、食堂的客户，月供燃料200余吨。公司还在福州、西昌、兰州、攀枝花、阿坝等地区有加盟商，规模正在不断扩大。</font></font></p>
<p><font face="Verdana"><font face="Verdana">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 公司强大的技术力量团队将为您提供及时、完善、周到的服务。我们承诺：将在接到您电话通知的24小时内送油上门。如果有任何问题，我们将在接到您通知后48小时内上门解决处理，特殊紧急情况须更快上门服务。售后服务专线：400-666-3729。<br></font></font></p>
<p><font face="Verdana"><font face="Verdana">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 我们的宗旨：诚信，创新，利益双赢。</font></font></p>
                </span>
</div>


</div>

</div>

<div class="main-right">
<div class="news">
<div class="content-title">
<a class="sub-title">新闻中心</a>
<a class="more"  href="#"><img src="images/more.gif"></a>
</div>
<div class="content-p">
<ul>
<li><p><a href="#">投资甲醇燃料的五大优势</a></p></li>
<li><p><a href="#">亚洲新能源大会召开</a></p></li>
<li><p><a href="#">热烈祝贺我司美股上市</a></p></li>
<li><p><a href="#">互联网营销的成功</a></p></li>
<li><p><a href="#">2015年第一季度公司销售业绩</a></p></li>
</ui>

</div>
</div>


<div class="main-contact">
<div class="content-title">
<a class="sub-title">联系我们</a>
<a class="more"><img src="images/more.gif"></a>
</div>
<div class="content-p">
<p><font face="Verdana"><strong>重庆泓彬醇基有限公司<br></strong>联系人&nbsp;&nbsp; ：毛先生<br>联系手机：13368088888<br>服务热线：400-666-3729/023-66133292<br>企业邮箱：<a href="mailto:ycjn2014@163.com">ycjn2014@163.com</a><br>公司地址：重庆市万盛区中心广场</font></p>

</div>
</div>




</div>


</div>
<div class="album">

<div class="content-title">
<a class="sub-title">产品展示</a>
<a class="more"><img src="images/more.gif"></a>
</div>
<div class="content-p">
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="images/tmp/1.jpg">
<b>产品A</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="images/tmp/2.jpg">
<b>产品B</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="images/tmp/3.jpg">
<b>产品C</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="images/tmp/4.jpg">
<b>产品D</b>
</a>
</div>
</div>
<div class="photo-item">
<div class="album-pic">
<a href="#"><img src="images/tmp/5.jpg">
<b>产品E</b>
</a>
</div>
</div>


</div>



</div>
<div class="footer">
<br/>
<br/>
<p align="center" class="footer-contact">重庆泓彬醇基有限公司@版权所有&nbsp;&nbsp; 联系手机:13368088888&nbsp;&nbsp;服务热线：400-666-3729 <br>企业邮箱：<a href="mailto:ycjn2014@163.com">ycjn2014@163.com</a>&nbsp;&nbsp;&nbsp; 公司地址：重庆市万盛区中心广场<br>&nbsp;&nbsp;<br>&nbsp; <br></p>

</div>


</body>
</html>
