td {
	font-family: "宋体";
	color:#333333;
	font-size: 12px;
}
body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
	margin-left: 0px;
	margin-right: 0px;
}

.table_dh { border-top:1px solid #cccccc;border-left:1px solid #cccccc;border-right:0px solid #cccccc;border-bottom:1px solid #cccccc}
.table_center { border-top:0px solid #cccccc;border-left:0px solid #cccccc;border-right:1px solid #F0F0F0;border-bottom:0px solid #f2f2f2}
.table_blue { border-top:1px solid #B6DBF5;border-left:1px solid #B6DBF5;border-right:1px solid #B6DBF5;border-bottom:1px solid #B6DBF5}
.ft_red {color: red}
.ft_dblue {
    color:#0066cc;
	font-family: "宋体";
	font-size: 14px;

}
.ft_main {
    color:#333333;
	font-family: "宋体";
	font-size: 12px;

}
A.main:link {
	COLOR: #000000; TEXT-DECORATION: none}
A.main:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.main:active {
	COLOR: #000000; TEXT-DECORATION: none}
A.main:hover {
	COLOR: #0000CC; TEXT-DECORATION: none}
	
	
A.lk_bk:link {
	COLOR: #000000;font-size:14px; TEXT-DECORATION: none}
A.lk_bk:visited {
	COLOR: #000000; font-size:14px;TEXT-DECORATION: none
}
A.lk_bk:active {
	COLOR: #000000;font-size:14px; TEXT-DECORATION: none}
A.lk_bk:hover {
	COLOR: #0000CC; font-size:14px;TEXT-DECORATION: none}
	
	
	A.lk_wt:link {
	COLOR: #ffffff; TEXT-DECORATION: none}
A.lk_wt:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.lk_wt:active {
	COLOR: #ffffff; TEXT-DECORATION: none}
A.lk_wt:hover {
	COLOR: #ffffff; TEXT-DECORATION: none}
	
	
	A.lk_bk1:link {
	COLOR: #444141; TEXT-DECORATION: none}
A.lk_bk1:visited {
	COLOR: #444141; TEXT-DECORATION: none
}
A.lk_bk1:active {
	COLOR: #444141; TEXT-DECORATION: none}
A.lk_bk1:hover {
	COLOR: #444141; TEXT-DECORATION: none}
	
	
	A.lk_bk2:link {
	COLOR: #90846E; TEXT-DECORATION: none}
A.lk_bk2:visited {
	COLOR: #90846E; TEXT-DECORATION: none
}
A.lk_bk2:active {
	COLOR: #90846E; TEXT-DECORATION: none}
A.lk_bk2:hover {
	COLOR: #90846E; TEXT-DECORATION: none}
	
	
	A.news:link {
	COLOR: #000000; TEXT-DECORATION: none}
A.news:visited {
	COLOR: #336699; TEXT-DECORATION: none
}
A.news:active {
	COLOR: #000000; TEXT-DECORATION: none}
A.news:hover {
	COLOR: #0000CC; TEXT-DECORATION: blink}
	
	A.tt:link {
	COLOR: #124ABB; TEXT-DECORATION: none}
A.tt:visited {
	COLOR: #124ABB; TEXT-DECORATION: none
}
A.tt:active {
	COLOR: #124ABB; TEXT-DECORATION: none}
A.tt:hover {
	COLOR: #0000CC; TEXT-DECORATION: blink}
	
.content
{
	font-size:12px;
	line-height:22px;
	letter-spacing:1px;
}

.content1
{
	font-size:13px;
	line-height:35px;
	letter-spacing:2px;
}

.bt_main {
	font-family: "宋体";
	font-size: 10pt;
	color: #333333;
	background-color: #eeeeee;
	cursor: hand;
	padding: 1px;
	height: 19px;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #FFFFFF;
}

.input {
	font-family: "宋体";
	font-size: 9pt;
	color: #333333;
	border: 1px solid #999999;
}
